:root {
  --background-color: black;
  --font-color: white;
}

body {
  color: var(--font-color);
  background-color: var(--background-color);
  display: grid;
  height: 100vh;

  padding: 10px;

  margin: 0;
  grid-template-rows: 10% 1fr 10%;
  font-family: "Jetbrains Mono";
  font-size: 1.2vh;
}

header {
  align-content: center;
  h1 {
    font-size: 3vh;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5vh;
    margin-top: 0;
  }
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--font-color);
}

footer {
  margin: auto;
}

header,
main,
footer {
  border: 1pt solid red;
}
