:root {
  --background-color: black;
  --font-color: white;
}

@font-face {
  font-display: swap;
  font-family: "JetBrains Mono";
  font-style: normal;
  font-weight: 500;
  src: url("assets/fonts/jetbrains-mono-v20-latin_latin-ext-500.woff2")
    format("woff2");
}

body {
  color: var(--font-color);
  background-color: var(--background-color);

  height: 100vh;
  padding: 0.1em 1em;
  margin: 0;

  display: grid;
  grid-template-rows: 10% 1fr 10%;

  font-family: "Jetbrains Mono";
  font-size: 1.2vh;
}

header {
  align-content: center;
  grid-template-columns: 20% 1fr;

  h1 {
    font-size: 3vh;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5vh;
    margin-top: 0;
  }
}

#prompt {
  font-weight: bold;
}

a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--font-color);
}

input {
  background: none;
  outline: none;
  border: none;

  font-family: "Jetbrains Mono";
  font-size: 1em;
  color: var(--font-color);
}

input:focus {
  outline-width: 0;
}

footer {
  margin: auto;
}
